html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #D1EEFF;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  transition: all 150ms ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slip-swiping-container {
  overflow: hidden;
}

.App .box-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -999;
  border-radius: inherit;
  background: transparent;
  box-shadow: 0px 0px 100px hsl(225, 30%, 88%);
}

.App .content-container {
  display: flex;
  height: 100vh;
}

.App .content-left {
  width: 34%;
  height: 100%;
}

.App .content-right {
  flex-grow: 2;
  height: 100%;
}

.App .main-title {
  font-size: 42px;
  margin: 27px 0 27px 32px;
}

.App .schedule-validators-container {
  width: 100%;
  background: purple;
  display: flex;
  user-select: none;
}

.App .validators-settings-container {
  display: flex;
  justify-content: center;
  flex-shrink: 3;
  margin: 10px 0;
}

.App .validators-settings {
  background: white;
  padding: 10px;
  width: 60%;
  height: fit-content;
  border-radius: 5px;
  position: relative;
  display: flex;
}

@media (max-width: 1110px) {
  .App .validators-settings {
    width: 76.5%;
    margin-right: -11px;
  }
}

@media (max-width: 1020px) {
  .App .content-left {
    width: 32%;
  }
  .App .validators-settings {
    margin-right: -20px;
  }
}

.App .schedule-container, .App .validators-settings-container {
  width: 100%;
}

.App .schedule-container {
  height: fit-content;
  margin-top: 10px;
}

.App .validators-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: 40px;
  padding: 20px;
  max-width: 150px;
}

.App .search-bar-container {
  width: 100%;
  position: relative;
}

.gened-block {
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 10px;
  background: slategrey;
  color: white;
  border-radius: 3px;
  padding: 3px 2px 2px 2px;
  display: inline-block;
  line-height: 8px;
  margin: 1px;
}

@media (max-width: 950px) {
  .App .content-container {
    flex-direction: column;
  }
  .App .content-left {
    width: 100%;
  }
  .App .search-bar-container {
    justify-content: center;
  }
  .App .main-title {
    font-size: 30px;
    margin: 15px 0 0 20px;
  }
  .App .validators-settings-container {
    margin: 0;
    margin-bottom: 10px;
  }
}

/* @media (max-width: 845px) {
  .App .content {
    flex-direction: column;
  }
  .App .search-bar-container {
    width: unset;
  }
} */

.App .MuiSnackbarContent-root-37 {
  border-radius: 2px;
}
