body {
  background: #7BAFD4; /*carolina blue*/
  font-family: Avenir, 'Helvetica Neue', sans-serif
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slip-swiping-container {
  overflow: hidden;
}