.Course {
  border: 1px solid hsl(0, 0%, 60%);
  box-sizing: border-box;
  padding: 2px;
  position: relative;
  cursor: move;
  user-select: none;
}

<<<<<<< HEAD
#course-9 {
  position: relative;
}

#course-description {
  z-index: 999999;
  background-color: inherit;
  position: relative;
=======
.Course-x {
  position: absolute;
  right: 4px;
  top: 3px;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

.Course:hover .Course-x {
  display: inline;
}

.Course-x:hover {
  transform: scale(1.3);
>>>>>>> d8cfe51a589e5d12d66b35801548e212a429033c
}