.Footer {
  /* background: #282C34; */
  background: #4a4f59;
  padding: 5px;
  color: white;
  font-size: 13px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
}

.Footer a, .Footer a:active {
  color: lightblue;
  margin: 0 5px;
}

.Footer span#created-by {
  margin-right: 5px;
  line-height: 20px;
}

.Footer span#contact-us-at {
  display: inline-block;
  line-height: 20px;
}

@media (max-width: 600px) {
  .Footer {
    font-size: 12px;
  }
}

/* @media (max-width: 600px) and (min-height: 550px) {
  .Footer {
    position: absolute;
    bottom: 0px;
  }
} */