.Header {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Header-title {
  font-size: 50px;
  text-align: center;
  padding: 20px 0;    
  margin: 0;
  color: white;
  text-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.6);
}