.LoginPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10px;
  padding: 5px;
  display: flex;
  background: white;
  z-index: 99999;
  border-radius: 5px;
  box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.4);
}

.LoginPopup > * {
  margin: 5px;
}

.LoginPopup::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%)
}

#google-button {
  width: fit-content;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  overflow: hidden;
  padding: 1px 8px 1px 1px;
  display: flex;
  align-items: center;
  border: none;
  transition: box-shadow 100ms ease-in-out;
  outline: transparent;
}

#google-button:hover {
  cursor: pointer;
}

#google-button:active {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

#google-button #g-svg-container {
  background: #fff;
  padding: 1px 8px;
  position: relative;
  top: 2px;
  border-radius: inherit;
}

#google-button #g-svg-container svg {
  position: relative;
  top: -1px;
}

#google-button #g-text {
  font-family: Roboto, sans-serif;
  width: 100%;
  text-align: center;
  color: #888;
  text-transform: none !important;
  font-weight: normal;
  font-size: 14px;
  margin-left: 7px;
}

#signout-button {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  white-space: nowrap;
  outline: transparent;
  cursor: pointer;
  border: none;
  transition: box-shadow 100ms ease-in-out;
}

#signout-button:active {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}