.Schedule {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
}

.Schedule-row {
  display: flex;
  flex-direction: row;
}

.Schedule-year-label {
  flex-grow: 1;
  width: 150px;
}