.Schedule {
  display: flex;
  margin-left: 52px;
  margin-right: 65px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  position: relative;
  background: transparent;
  user-select: none;
  z-index: 0;
}

.Schedule-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.Schedule-year-label {
  width: 100%;
}

.Schedule-year-labels {
  display: flex;
  justify-content: space-around;
}

.Schedule .Schedule-row.summers .Semester.summer {
  width: 100%;
  margin: 0;
}

@media (max-width: 1200px) {
  .Schedule {
    margin-right: 40px;
  }
}

@media (max-width: 1075px) {
  .Schedule {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .Schedule {
    margin-right: 10px;
  }
}

@media (max-width: 950px) {
  .Schedule {
    margin: 0 auto 10px auto;
    max-width: 700px;
  }
}

.Schedule .tap-prompt {
  font-size: 13px;
  display: inline-block;
  margin: 10px;
}

@media (max-width: 600px) {
  .Schedule {
    margin: 0;
    margin-top: -15px;
  }
  .Schedule .tap-prompt {
    margin-top: 5px;
  }
  .Schedule-year-labels {
    font-size: 13px;
    margin-bottom: 3px;
  }
}

.Schedule .initial-spinner-container {
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
}

.ball-loader {
  position: fixed;
  top: 23%;
  z-index: 99999;
  /* background-color: rgba(0,0,0,0.15); */
  border-radius: 4px;
  padding: 3px;
}

@keyframes ball-loader {
  0% {
    opacity: 0.4;
            transform: scale(0.75); }
  25% {
    opacity: 0.7;
            transform: scale(1); }
  50% {
    opacity: 0.4;
            transform: scale(0.75); }
  100% {
    opacity: 0.4;
            transform: scale(0.75); } }

.ball-loader > div {
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
          animation-fill-mode: both;
  display: inline-block;
          animation: ball-loader 1s 0s infinite linear; }
  .ball-loader > div:nth-child(2) {
            animation-delay: -0.13s !important; }
  .ball-loader > div:nth-child(1) {
            animation-delay: -0.26s !important; }