.SearchBarResults {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: flex-start;
}

.SearchBarResults .SearchBarResult {
  margin: 5px;
  width: 45.5%;
  height: 62px;
  cursor: move;
}

.SearchBarResults .search-bar-welcome {
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.SearchBarResults .search-bar-welcome h3 {
  font-size: 24px;
}

.SearchBarResults .search-bar-welcome p {
  width: 80%;
  margin: 10px auto;
}

.SearchBarResults .drag-prompt {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .SearchBarResults {
    margin: 10px 0px;
  }
}

@media (max-width: 950px) {
  .SearchBarResults {
    margin: 0;
    height: 100%;
  }
  .SearchBarResults .search-bar-welcome {
    margin-top: 45px;
  }
  .SearchBarResults .drag-prompt {
    position: absolute;
    top: calc(100% - 7px);
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-size: 13px;
    background: white;
    padding: 4px 6px;
    border-radius: 4px;
  }
  .SearchBarResults .SearchBarResult {
    width: 32%;
    height: 31%;
    margin: 1px;
  }
  .SearchBarResults .SearchBarResult .name {
    max-height: 49px;
  }
  .SearchBarResults .SearchBarResult .expanded-container {
    left: unset;
    right: 0px;
  }
}

@media (max-width: 600px) {
  .SearchBarResults {
    width: 100%;
    min-height: 50px;
    margin-bottom: 6px;
    justify-content: space-evenly 
  }
  .SearchBarResults .search-bar-welcome {
    margin: 0 auto;
    background-color: #fff;
    width: 95%;
    display: flex;
    min-height: 50px;
    border-radius: 4px;
  }
  .SearchBarResults .search-bar-welcome h3 {
    font-size: 15px;
  }
  .SearchBarResults .search-bar-welcome p {
    font-size: 12px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 4px;
    line-height: 13px;
  }
  .SearchBarResults .drag-prompt {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -80%);
  }
}