.SearchResults {
  position: absolute;
  background: white;
  border-radius: 4px;
  z-index: 999;
}

.SearchResults-item {
  padding: 3px 6px;
  cursor: pointer;
}

.SearchResults-item.selected {
  background: #4B9CD3;
  color: white;
}
