.SearchBarResults {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px;
  justify-content: flex-start;
}

.SearchBarResults .search-bar-welcome {
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.SearchBarResults .search-bar-welcome h3 {
  font-size: 24px;
}

.SearchBarResults .search-bar-welcome p {
  width: 80%;
  margin: 10px auto;
}

.SearchBarResults .drag-prompt {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.SearchBarResults-result {
  background: hsl(225, 100%, 96%);
  position: relative;
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  width: 45.5%;
  height: 60px;
  font-size: 12px;
  overflow: hidden;
  margin: 5px;
  cursor: move;
}

.SearchBarResults .dept-num {
  background: white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 12px;  
  position: relative;
}

.SearchBarResults .name {
  display: flex;
  flex-grow: 3;
  align-items: center;
  font-style: italic;
  height: 90%;
  max-height: 48px;
  overflow: hidden;
  width: auto;
  margin: auto 4px;
}

.SearchBarResults-result .elipses {
  display: inline-block;
  position: absolute;
  right: 2px;
  bottom: 0px;
}

.SearchBarResults .department {
  font-weight: bold;
}

.SearchBarResults .number {
  top: 15px;
  font-weight: bold;
  margin-left: 2px;
}

@media (max-width: 1200px) {
  .SearchBarResults {
    margin: 20px 0px;
  }
}

@media (max-width: 950px) {
  .SearchBarResults {
    margin: 0;
    height: 100%;
  }
  .SearchBarResults .search-bar-welcome {
    margin-top: 45px;
  }
  .SearchBarResults-result {
    width: 32%;
    height: 31%;
    margin: 1px;
  }
  .SearchBarResults .drag-prompt {
    position: absolute;
    top: calc(100% - 7px);
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-size: 13px;
    background: white;
    padding: 4px 6px;
    border-radius: 4px;
  }
}

@media (max-width: 650px) {
  .SearchBarResults {
    width: 100%;
    min-height: 50px;
    margin-bottom: 6px;
    justify-content: space-evenly 
  }
  .SearchBarResults .search-bar-welcome {
    margin: 0 auto;
    background-color: #fff;
    width: 95%;
    display: flex;
    min-height: 50px;
    border-radius: 4px;
  }
  .SearchBarResults .search-bar-welcome h3 {
    font-size: 15px;
  }
  .SearchBarResults .search-bar-welcome p {
    font-size: 12px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 4px;
    line-height: 13px;
  }
  .SearchBarResults .SearchBarResults-result {
    height: 35px;
    margin: 0;
  }
  .SearchBarResults .SearchBarResults-result .name {
    font-size: 10px;
    margin: 1px;
  }
  .SearchBarResults .SearchBarResults-result .dept-num {
    font-size: 12px;
    padding: 0px;
  }
  .SearchBarResults .drag-prompt {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -80%);
  }
}