.SearchBar {
  background: white;
  height: 505px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 61px;
  z-index: 1;
  position: relative;
  transition: height 150ms ease-in-out;
}

.SearchBar.collapsed {
  height: min-content;
}

.SearchBar h2 {
  margin: auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
}

.SearchBar.collapsed h2 {
  margin: 0;
}

.SearchBar input {
  border-radius: 3px;
  border: 1px solid rgba(170, 177, 197, 0.7);
  padding: 5px;
  font-size: 14px;
  outline: none;
}

.SearchBar input:focus {
  border: 1px solid #7bc9ee;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
}

.SearchBar .arrow {
  width: 20px;
  position: absolute;
  right: 0px;
  top: -18px;
  background-color: #fff;
  height: 20px;
  padding: 0 4px;
  border-radius: 5px 5px 0px 0px;
  transition: transform 150ms ease-in-out;
}

.SearchBar .arrow img {
  width: 20px;
  height: 20px;
  transition: transform 150ms ease-in-out;
}

.SearchBar.collapsed .arrow {
  transform: translateY(27px);
}

.SearchBar.collapsed .arrow img {
  transform: rotate(90deg) scale(1.2) translateY(3px)
}

.SearchBar .arrow img:hover {
  cursor: pointer;
}

.SearchBar .list-switch-container {
  position: absolute;
  right: 20px;
  bottom: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar .list-switch-container:hover {
  cursor: pointer;
}

.SearchBar .list-switch-container img {
  margin-right: 5px;
}

.SearchBar .TagsInput:focus-within {
  border: 1px solid #7bc9ee;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
}

.SearchBar #searchbar-search-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.SearchBar .first-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.SearchBar .first-row-container .first-part {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.SearchBar #custom-select {
  display: inline-block;
  border: 1px solid rgba(170, 177, 197, 0.7);
  margin-right: 5px;
  width: 34px;
  border-radius: 4px;
  overflow: hidden;
  padding: 2px 0;
  background: #ffffff url("../arrow.svg") no-repeat 95% 55%;
  background-size: 45% 35%;
}

.SearchBar #custom-select select {
  appearance: none;
  width: 130%;
  border: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  outline: transparent;
  padding: 0 0 1px 5px;
}

.SearchBar #custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.SearchBar #custom-select:focus-within {
  border: 1px solid #7bc9ee
}

.SearchBar input#department-input {
  width: 45px;
  margin-right: 5px;
}

.SearchBar input#number-input {
  width: 30px;
  margin-right: 5px;
}

.SearchBar select {
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(170, 177, 197, 0.7);
}

.SearchBar .tags-input {
  border: 1px solid rgba(170, 177, 197, 0.7);
  border-radius: 3px;
  height: 29px;
  box-shadow: none;
  width: 47%;
}

.SearchBar .tags-input input {
  position: relative;
  top: 2px;
}

.SearchBar .tags-input .tag {
  padding: 3px;
}

.SearchBar-department-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px;
  background: white;
}

.SearchBar .department-result {
  text-align: center;
  padding: 2px 3px;
}

.SearchBar button#searchbar-add-class {
  padding: 3px 5px;
  border: 1px solid rgba(170, 177, 197, 0.7);
  background: white;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  outline: none;
  left: 15px;
  bottom: 6px;
  width: 110px;
  z-index: 1;
}

.SearchBar button#searchbar-add-class:active {
  background: lightgray;
}

.SearchBar .loader-container {
  position: absolute;
  left: 165px;
  top: 37px;
}

@media (max-width: 1200px) {
  .SearchBar {
    margin-left: 40px;
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .SearchBar {
    margin-left: 20px;
    width: 100%;
  }
}

@media (max-width: 950px) {
  .SearchBar {
    width: 93%;
    height: 155px;
    margin: auto;
    margin-top: 10px;
  }
  .SearchBar.list {
    height: 360px;
  }
  .SearchBar .first-row-container {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
  }
  .SearchBar .tags-input {
    width: 170px;
    margin: 8px 0;
  }
  .SearchBar #name-input {
    width: 164px;
  }
  .SearchBar #search-input {
    width: 176px;
    box-sizing: border-box;
  }
  .SearchBar h2 {
    width: 175px;
    margin: -3px 0 4px 0;
  }
  .SearchBar #searchbar-search-group {
    width: 25%;
    display: inline-block;
    margin: 0;
  }
  .SearchBar #department-input, .SearchBar select {
    margin-right: 5px;
  }
  .SearchBar .search-bar-results-container {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: 0px;
    height: 97%;
    width: 69%;
  }
  .SearchBar button#searchbar-add-class {
    transform: none;
    left: 10px;
    bottom: 7px;
    height: 28px;
    padding: 0px;
    width: 107px;
  }
  .SearchBar .list-switch-container {
    width: 57px;
    left: 125px;
    bottom: 7px;
    right: unset;
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 1px;
    border-radius: 4px;
  }
  .SearchBar .list-switch-container:active {
    background-color: lightgray;
  }
}

@media (max-width: 650px) {
  .SearchBar #search-input {
    width: 150px;
  }
  .SearchBar .TagsInput {
    width: 148px;
  }
  .SearchBar .list-switch-container {
    left: 120px;
  }
}

@media (max-width: 600px) {
  .SearchBar {
    margin-top: 12px;
    padding: 5px;
  }
  .SearchBar h2 {
    position: absolute;
    font-size: 12px;
    left: 0px;
    transform: translateY(-85%);
    background-color: #fff;
    border-radius: 10px;
    padding: 2px 3px;
    text-align: center;
  }
  .SearchBar #searchbar-search-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
  }
  .SearchBar .first-row-container {
    width: 100%;
  }
  .SearchBar input#name-input {
    margin-left: 5px;
    width: 45%;
  }
  .SearchBar .search-bar-results-container {
    width: 100%;
    height: 70%;
    margin-top: 45px;
  }
  .SearchBar button#searchbar-add-class {
    bottom: 0px;
    left: 0px;
    padding: 1px 6px;
    border-radius: 10px;
    transform: translateY(100%);
  }
}