.SearchResults {
  position: absolute;
  background: white;
  border-radius: 4px;
  z-index: 999;
}

.SearchResults-item {
  padding: 3px 6px;
  cursor: pointer;
}

.SearchResults-item.selected {
  background: #4B9CD3;
  color: white;
}

.SearchResults.major-res {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  z-index: 99999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}