.SearchBar {
  background: white;
  height: 493px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 61px;
  z-index: 1;
  position: relative;
}

.SearchBar h2 {
  margin: auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
}

.SearchBar input {
  border-radius: 3px;
  border: 1px solid rgba(170, 177, 197, 0.7);
  padding: 5px;
  font-size: 14px;
  outline: none;
}

.SearchBar #searchbar-search-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.SearchBar .first-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.SearchBar input#department-input {
  width: 45px;
}

.SearchBar input#number-input {
  width: 30px;
}

.SearchBar select {
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(170, 177, 197, 0.7);
}

.SearchBar .tags-input {
  border: 1px solid rgba(170, 177, 197, 0.7);
  border-radius: 3px;
  height: 29px;
  box-shadow: none;
  width: 47%;
}

.SearchBar .tags-input input {
  position: relative;
  top: 2px;
}

.SearchBar .tags-input .tag {
  padding: 3px;
}

.SearchBar-department-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px;
  background: white;
}

.SearchBar .department-result {
  text-align: center;
  padding: 2px 3px;
}

.SearchBar .loader-container {
  position: relative;
}

.SearchBar .loader {
  top: -22px;
  left: 145px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
}
.loader {
  border-top: 3px solid rgba(0,0,0,0.2);
  border-right: 3px solid rgba(0,0,0,0.2);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-left: 3px solid black;
  transform: translateZ(0);
  animation: load8 800ms infinite linear;
}

button#searchbar-add-class{
  margin-top: 15px;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .SearchBar {
    margin-left: 40px;
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .SearchBar {
    margin-left: 20px;
    width: 100%;
  }
}

@media (max-width: 950px) {
  .SearchBar {
    width: 93%;
    height: 155px;
    margin: auto;
    margin-top: 10px;
  }
  .SearchBar .first-row-container {
    display: inline-block;
    margin: 0;
  }
  .SearchBar .tags-input {
    width: 170px;
    margin: 15px 0;
  }
  .SearchBar #name-input {
    width: 164px;
  }
  .SearchBar h2 {
    width: 175px;
    margin: -3px 0 10px 0;
  }
  .SearchBar #searchbar-search-group {
    width: 25%;
    display: inline-block;
    margin: 0;
  }
  .SearchBar #department-input, .SearchBar select {
    margin-right: 10px;
  }
  .SearchBar .search-bar-results-container {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: 0px;
    height: 97%;
    width: 69%;
  }
}
