.Semester {
  display: inline-flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  /* border: 3px solid #7BAFD4; */
  margin: 2px;
  background: hsla(0, 0%, 100%, 0.9);
  user-select: none;
}

.sortable-ghost {
  opacity: 0
}
