.Semester {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  /* height handled in react and uiStore */
  border-radius: 4px;
  margin: 8px 13px;
  background: hsla(0, 0%, 100%, 0.9);
  user-select: none;
  position: relative;
}

.Semester .Semester-label {
  padding: 3px 0;
}

.Semester-courses {
  height: 100%;
}

.sortable-ghost {
  opacity: 0
}

@media (max-width: 1200px) {
  .Semester {
    margin: 6px 6px;
  }
}

@media (max-width: 650px) {
  .Semester {
    margin: 2px;
  }
  .Semester .Semester-label {
    font-size: 14px;
  }
}