.Semester {
  display: inline-flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  border-radius: 4px;
  margin: 2px;
  background: hsla(0, 0%, 100%, 0.9);
  user-select: none;
}

.Semester-courses {
  height: 100%;
}

.sortable-ghost {
  opacity: 0
}
