.Settings {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  font-size: 12px;
}

.Settings > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Settings .settings-label.expandedView {
  margin-bottom: -8px;
}

@media (max-width: 983px) {
  .Settings {
    margin-bottom: -8px;
  }
}