.Settings {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  font-size: 12px;
  flex-shrink: 2;
}

.Settings > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.Settings .expandedView {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.Settings .settings-label.expandedView {
  margin-bottom: -8px;
  margin-top: -8px;
  text-align: center;
  position: relative;
  top: 8px;
}

.Settings .switchContainer {
  position: relative;
  top: 9px;
}

.Settings button#add-summer-button {
  background: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: fit-content;
  margin: auto;
}

.Settings button#add-summer-button:active {
  background: lightgray;
}

/* @media (max-width: 983px) {
  .Settings {
    margin-bottom: -8px;
  }
} */