.Toolbar {
  margin: 0;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: hsl(200, 80%, 85%);
  height: 38px;
}

.Toolbar-item {
  cursor: pointer;
  border-left: none;
  padding: 0px;
  flex-grow: 1;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toolbar-text {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 100ms ease-in-out;
}

.Toolbar-item:hover .Toolbar-text.hoverable {
  background-color: rgba(255, 255, 255, 0.7);
}

h1.Toolbar-text {
  margin: 0;
  font-size: 18px;
  display: inline-block;
  font-weight: normal;
}

.Toolbar-logo {
  height: inherit;
  margin-left: 10px;
}
