div#validator-button-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

button.validator {
    display: flex;
    width: 200px;
    height: 80px;
    align-self: flex-end;
    background: #98CAEC;
    color: black;

    margin: 20px 20px;
}

button.validator > div {
    white-space: normal;
    text-align: left;
    font-size: 15px;
    width: 190px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}