.Validators {
  background: whitesmoke;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media(max-width: 983px) {
  .Validators {
    flex-direction: row;
    width: 80%;
  }
  .Validators .progress-group {
    width: 100%;
    margin: 0 10px;
  }
}

.Validators > div {
  margin-bottom: 10px;
}

.Validators .progress-group {
  position: relative;
}

.Validators .progress-bar {
  height: 15px;
  width: 100%;
  background: lightgray;
  border-radius: 10px;
  overflow: hidden;
  margin: 3px 0;
}

.Validators .progress-completed {
  background: lightcoral;
  height: 100%;
  border-radius: inherit;
}

.Validators .progress-popup {
  background: lightgray;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0px;
  z-index: 99999;
  user-select: none;
  display: none;
}
.Validators .progress-popup::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 12px solid transparent;
  border-top: 12px solid gray;
}
.Validators .progress-group.geneds:hover .progress-popup {
  display: block;
}
.Validators .progress-group.major-courses:hover .progress-popup {
  display: block;
}
.Validators .progress-group.credits:hover .progress-popup {
  display: block;
}
