.Validators {
  position: absolute;
  right: 10px;
  top: 250px;
  width: 13%;
  background: whitesmoke;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  font-size: 12px;
}

.Validators .progress-bar {
  height: 15px;
  width: 100%;
  background: lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Validators .progress-completed {
  background: lightcoral;
  height: 100%;
  border-radius: inherit
}