.YearEnteredPrompt {
  cursor: pointer;
  border-left: none;
  padding: 0px;
  flex-grow: 1;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.YearEnteredPrompt > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}